name: Google Indexing Automation

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  run-indexing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: |
          pip install google-api-python-client google-auth supabase

      - name: Create Key File
        run: |
          echo '${{ secrets.GOOGLE_JSON_KEY }}' > service_account.json

      - name: Run Script
        run: python utils.py